@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #262626;
}

.wrapper{
    background-color: #2E4159;
    width: 450px;
    border-radius: 16px;
}

.form {
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #262626;
}

.form form{
    margin: 20px 0;
}

.form form .registration_error {
    color: red;
    background-color: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid red;
    display: none;
}

.form form .user_name_details{
    display: flex;
}

form .user_name_details .field:first-child{
    margin-right: 10px;
}

form .user_name_details .field:last-child{
    margin-left: 10px;
}

.form form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label{
    margin-bottom: 2px;
    color: black;
    font-weight: 600;
}

.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding-bottom: 0 10px;
    border-radius: 5px;
    background-color: #8F8EBF;
}

.form form .image input{
    font-size: 17px;
}

.form form .button input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background-color: #262626;
    color: #8F8EBF;
    border-radius: 5px;
    cursor: pointer;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a{
    color: #8F8EBF;
}

.form .link a:hover{
    text-decoration: underline;
}